<div class="main-content">
  <div class="container-fluid">
    <ng-container *ngIf="this.optionSelected">
      <label for="dropdown">Selecciona una opción:</label>
      <select id="dropdown" [(ngModel)]="optionSelected" (ngModelChange)="onOpcionSeleccionadaChange()">
        <option *ngFor="let opcion of type" [value]="opcion.id">{{ opcion.name }}</option>
      </select>

      <button (click)="addToCollection('collection')" class="au-btn-submit"
        style="margin-left: 2rem;">Collection</button>
    </ng-container>

    <button (click)="openDialog()" class="au-btn-submit" style="margin-left: 2rem;">Played</button>
    <button (click)="addToCollection('playing')" class="au-btn-submit" style="margin-left: 2rem;">Playing</button>
  </div>
  <div class="detail-section">
    <div class="container-fluid" *ngIf="game">
      <img *ngIf="game?.cover" [src]="this.coverImageUrl" class="img-fluid">
      <h3>{{game.name}}</h3>
      <h3>{{game.category}}</h3>
      <h2>{{game.collection}}</h2>
      <h2>{{game.rating}}</h2>
      <hr>
      <h4>Description</h4>
      <p>{{game.summary}}</p>


      <a routerLink="/games" class="mt-5"> Back to products list</a>

    </div>
  </div>
</div>