<div class="main-content">
    <div class="section-content section-content-p30">
        
            <div class="card-group">

          
                <!--loop over products-->
                <div *ngFor="let tempGames of listGamesvar"  class="col-md-2">
                    <div class="card">

                        <a routerLink="/id/{{tempGames.game_id}}">
                        <img src="{{tempGames.image}}" class="card-img-top"></a>
                        <div class="card-body">
                        <a routerLink="/id/{{tempGames.game_id}}" class="card-title"><h3>{{tempGames.name}}</h3></a>
                        <p class="card-text">{{ tempGames.description | slice:0:150 }} <!-- Mostrar los primeros 150 caracteres del texto -->
                            <span *ngIf="tempGames.description.length > 150">...</span> <!-- Mostrar '...' si el texto es más largo que 150 caracteres --></p>
                        <p>{{tempGames.startDate | date:'hh:mm a' }}</p>
                        <p>{{tempGames.finishDate | date:'hh:mm a' }}</p>

                        </div>
                       
                        
                        
                    </div>
                </div>

                <div *ngIf="listGamesvar.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Games found.
                </div>

  </div>
            
        </div>
    </div>